---
# role: ansible-role-ipv6
# file: molecule/resources/playbooks/converge.yml

- name: Converge
  hosts: all
  become: true
  tasks:
    - name: "Include ansible-role-ipv6"
      include_role:
        name: "ansible-role-ipv6"
